@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Comfortaa:wght@600&family=Montserrat+Alternates:wght@300;400&family=Rajdhani:wght@300&display=swap');
:root{
  --bg-color:#eff2f1;
  --blue-color:#89c6ff;
  --blue-hover:#6aabe7;
  --text-gray-hover: #1d1d1d;
  --text-grey: #53585a;

}

.App {
  text-align: center;
  background-color: var(--bg-color);
}
