body {
  margin: 0;
  font-weight: 100 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Comfortaa', sans-serif !important;
}
a ,a:hover{
  text-decoration: none !important;
}
